
<div ngClass=".table-hover">
    <h1>{{service.Recetas[indice!].N()}}</h1>
    <img [src]="service.Recetas[indice!].I()">
    <table ngClass="table table-dark estilo">
        <thead>
            <tr>
                <th>Ingredientes</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let i of service.Recetas[indice!].R()">
                <td>{{i[0]}}</td>

                <td>{{i[1]}}</td>
            </tr>
        </tbody>
    </table>
</div>
