th{
    color: orange;
}
td{
    color: rgba(255, 166, 0, 0.509);
    
}
h1{
    color: rgba(255, 166, 0, 0.509);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.clase{
    border-radius: 10px;
    color: black;
    background-color: orange;

}

.lista{
    color: orange;
}